@import "tailwindcss";
@import "./styles/variables.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 14px;
  letter-spacing: 1.1px;
}

body {
  font-family: var(--font-body, cursive);
}
h1,
h2,
h3,
h4 {
  font-family: var(--font-body, cursive);
}
